body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, transparent, rgb(197, 197, 226));
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(197, 197, 226), transparent);
    height: 20%;
    width: 25%;
    box-shadow: 2px 2px gray;
    border: 1px outset gray; 
    border-radius: 8px;
    margin-bottom: 15%;
}

.container>div {
    margin-top: 5%;
}

.outputDiv {
    margin-bottom: 5%;
}

.radioBDiv,
.container>div {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

button {
    margin: auto;
}

input[type="text"] {
    width: 50%;
}